#home-hero {
	background-color: #000;
	gap: 36px;
	overflow-x: clip;
}

#home-hero-bg {
	object-fit: cover;
	filter: blur(1px);
	opacity: 0.6;
}

#home-hero-bmw {
	height: 450px;
	object-fit: cover;
	right: -40px;
	bottom: 175px;
}

#home-hero-moped {
	bottom: 140px;
	right: -90px;
	object-fit: cover;
	height: 450px;
	-moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#home-hero-head {
	width: 650px;
	line-height: 125%;
}

#home-hero-text {
	margin-top: 24px;
	width: 550px;
}

.home-hero-btns {
	margin-top: 40px;
}

// Quick rental search

#quick-search {
	height: 120px;	
	bottom: -60px;
}

.quick-search-grid {
	gap: 36px;
}

.quick-search-item {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 100%;
}

.quick-search-item:last-child {
	width: 800px;
}

// Features

#features {
	display: flex;
	flex-direction: column;
	gap: 150px;
	margin-top: 120px;
}

#thumbs_up, #thumbs_up_1 {
	width: 667px;
	height: 350px;
	object-fit: cover;
}

// Why choose us

.why-us {
	width: 40%;
}

.stats {
	width: max-content;
}

// Reviews

.review-grid {
	margin-top: 24px;
}

.review-wrapper {
	width: 390px;
	aspect-ratio: 1 / 1.5;
	border-radius: 8px;
}

.review-image {
	object-fit: cover;
	border-radius: 8px;
}

.review-content {
	height: 35%;
	bottom: 0;
	background-color: rgba(0,0,0,0.45);
	border-radius: 0 0 8px 8px;
	padding: 20px;
}

.quote-end {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 14px;
	bottom: 6px;

	hr {
		width: 36px;
		background-color: #fff;
		border: none;
		height: 2px;
	}
}

.q-wrapper {
	overflow: hidden;

	.icon {
		transition: 0.25s;
	}

	.a {
		display: none;
	}
}

.q-wrapper.true {
	.a {
		display: block;
	}

	.icon {
		transform: rotate(180deg);
	}
}

@media screen and (max-width: 1620px) {
	#home-hero-bmw, #home-hero-moped {
		height: 420px;
	}
}

@media screen and (max-width: 1450px) {
	#home-hero-bmw {
		right: -90px;
	}
}

@media screen and (max-width: 1350px) {
	#home-hero-bmw {
		right: -150px;
	}

	#home-hero-moped {
		right: -120px;
	}
}

@media screen and (max-width: 1300px) {
	#home-hero {
		height: 100vh !important;
	}

	#home-hero-bmw {
		height: 390px;
		right: -175px;
	}

	#home-hero-moped {
		height: 390px;
	}

	#features {
		gap: 100px;
	}

	#thumbs_up, #thumbs_up_1 {
		width: 550px;
	}

	.review-grid {
		gap: 14px;
	}

	.review-wrapper {
		width: 100%;
	}

	.review-content {
		height: 45%;
	}
}

@media screen and (max-width: 1200px) {
	#home-hero-bmw {
		right: -200px;
		height: 375px;
	}

	#home-hero-moped {
		height: 375px;
		right: -125px;
	}

	#thumbs_up, #thumbs_up_1 {
		height: 375px;
	}
}

@media screen and (max-width: 1165px) {
	#home-hero-bmw, #home-hero-moped {
		height: 360px;
	}
}

@media screen and (max-width: 1130px) {
	#home-hero-bmw {
		right: -240px;
	}

	#thumbs_up, #thumbs_up_1 {
		width: 50%;
	}

	#features {
		margin-top: 75px;
		gap: 75px;
	}

	#quick-search {
		height: 100px;
		bottom: -50px;
	}

	.review-content {
		height: 55%;
	}
}

@media screen and (max-width: 1084px) {
	#home-hero-bmw {
		right: -275px;
	}

	#home-hero-moped {
		height: 340px;
		right: -140px;
	}
}

@media screen and (max-width: 1070px) {
	#features {
		margin-top: 80px;
		gap: 80px;
	}

	#home-hero .content {
		margin-top: -120px;
	}

	#quick-search {
		bottom: -120px;
	}

	#home-hero-bmw {
		height: 400px;
		bottom: 100px;
	}

	#home-hero-moped {
		display: none;
	}

	.quick-search-item {
		width: 100% !important;
	}

	.quick-search-grid {
		gap: 14px !important;
		padding: 0;
	}

	.review-wrapper {
		height: 460px;
		width: 100%;
		aspect-ratio: auto;
	}

	.review-content {
		height: 55%;
		padding: 10px;
	}
	
	.why-us {
		width: 100%;
	}

	#why-us .content .w100 {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 36px;
	}

	.stats {
		gap: 64px !important;
		text-align: center;
		justify-content: center;
		width: 100%;
	}
}

@media screen and (max-width: 1024px) {
	#home-hero .content {
		margin-top: 0 !important;
	}

	#quick-search {
		bottom: -60px;
	}
}

@media screen and (max-width: 990px) {
	.review-content {
		height: 55%;

		.fs-18 {
			font-size: 17px !important;
		}

		.fs-16 {
			font-size: 15px !important;
		}

		hr {
			width: 24px;
		}
	}
}

@media screen and (max-width: 940px) {
	#thumbs_up, #thumbs_up_1 {
		width: 40%;
		height: 400px;
	}

	#home-hero-bmw {
		height: 380px;
	}

	.review-wrapper {
		height: 320px;
	}

	.review-content {
		height: 100%;
		background-color: rgba(0,0,0,0.75);
		border-radius: 8px;

		.fs-18 {
			font-size: 18px !important;
		}

		.fs-16 {
			font-size: 16px !important;
		}
	}
}

@media screen and (max-width: 850px) {
	#home-hero-bmw {
		height: 360px;
		right: -260px;
	}
}

@media screen and (max-width: 800px) {
	#home-hero-bmw {
		bottom: 80px;
	}

	.review-grid {
		display: flex;
		flex-direction: column;
	}

	.review-wrapper {
		aspect-ratio: auto;
		width: 100%;
		height: 220;
	}

	.review-content {
		padding: 24px;

		.fs-18 {
			font-size: 20px !important;
		}
	}

	.quote-end {
		bottom: 24px;
	}

	.review-image {
		object-position: center 15%;
	}

	#why-us .content .w100 {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 36px;
	}

	.why-us {
		width: 100%;
	}

	.stats {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 0;
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	#features {
		gap: 60px;
		margin-top: 60px;
	}

	#rent-a-car .content {
		flex-direction: column;
	}

	#rent-a-bike .content {
		flex-direction: column-reverse;
	}

	#thumbs_up, #thumbs_up_1 {
		width: 100%;
		height: 300px;
	}

	#home-hero-head {
		font-size: 48px;
		width: 100%;
	}

	#home-hero-text {
		width: 100%;
	}

	#home-hero {
		height: 75vh !important;
	}

	#home-hero-bmw {
		display: none;
	}

	#tabs {
		gap: 0;

		.fs-18 {
			font-size: 16px !important;
		}
	}
}

@media screen and (max-width: 600px) {
	#home-hero-head {
		font-size: 32px !important;
	}

	.stats {
		gap: 24px !important;
	}

	.q-grid {
		display: flex;
		flex-direction: column;
	}

	#quick-search {
		height: 400px;
		bottom: -400px;
		
		.content {
			padding: 24px;
			border: none !important;
		}
	}

	.quick-search-grid {
		flex-direction: column;
	}

	#features {
		margin-top: 400px;
	}
}

@media screen and (max-width: 560px) {
	#home-hero-head {
		font-size: 42px;
	}

	#home-hero-text {
		font-size: 16px;
	}

	#tabs {
		flex-wrap: wrap;
		gap: 24px;
	}
}

@media screen and (max-width: 450px) {
	.stats {
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.fs-28 {
			font-size: 28px;
		}

		.fs-18 {
			font-size: 18px !important;
		}
	}
}

@media screen and (max-width: 420px) {
	#thumbs_up, #thumbs_up_1 {
		height: 240px;
	}

	#tabs {
		display: grid;
		grid-template-columns: repeat(2, calc(50% - 12px));
		gap: 6px;
		div {
			width: 100%;
			text-align: center;
		}
	}

	#home-hero .content {
		margin-top: 60px !important;
	}
}

@media screen and (max-width: 350px) {
	.review-wrapper {
		height: 360px;
	}

	.review-content {
		padding: 18px;
	}

	#home-hero {
		height: 90vh !important;

		.content {
			margin-top: 60px !important;
		}
	}

	#home-hero-head {
		font-size: 28px !important;
	}

	#home-hero-text {
		margin-top: 10px;
	}

	.home-hero-btns {
		flex-direction: column;
		margin-top: 20px;

		a {
			text-align: center;
		}
	}
}