.q-wrapper {
	overflow: hidden;

	.icon {
		transition: 0.25s;
	}

	.a {
		display: none;
	}
}

.q-wrapper.true {
	.a {
		display: block;
	}

	.icon {
		transform: rotate(180deg);
	}
}

@media screen and (max-width: 768px) {
    #tabs {
		gap: 0;

		.fs-18 {
			font-size: 16px !important;
		}
	}
}

@media screen and (max-width: 560px) {
    #tabs {
		flex-wrap: wrap;
		gap: 24px;
	}
}

@media screen and (max-width: 420px) {
    #tabs {
		display: grid;
		grid-template-columns: repeat(2, calc(50% - 12px));
		gap: 6px;
		div {
			width: 100%;
			text-align: center;
		}
	}
}