#header {
	height: 75px;
	position: fixed;
	z-index: 999;
}

.nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.nav-item {
	padding: 0;
	margin: 0;
}

.hamburger {
	display: none;
}

@media screen and (max-width: 850px) {
	body.true {
		overflow-y: hidden;
	}

	.nav-list {
		display: none;
	}

	.nav-list:first-of-type {
		display: flex;
		flex-direction: row-reverse;

		a {
			font-size: 20px !important;
		}
	}

	.hamburger {
		display: flex;
		border: none;
		outline: none;
		width: 24px;
		height: 20px;
		background-color: transparent;

		span {
			height: 2px;
			background-color: #fff;
		}
	}

	.nav-list:last-of-type {
		display: flex;

		.nav-item:first-of-type {
			display: none;
		}
	}

	#header.true {
		height: 100vh;

		.nav-list:first-of-type {
			flex-direction: column-reverse;
		}

		.nav-list:last-of-type .nav-item:first-of-type {
			display: flex;
		}

		#nav {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center !important;
			align-items: center;
			gap: 36px;
		}

		.nav-list {
			display: flex;
			flex-direction: column;
			gap: 36px;
		}
	}
}

.error-message {
	color: rgb(175,0,0) !important;
}

.error-icon {
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: rgb(175,0,0) !important;
}

@media screen and (max-width: 320px) {
	#header .fs-24 {
		font-size: 16px !important;
	}

	#header .btn-1 {
		font-size: 14px !important;
	}
}