// Global & Body styles

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	width: 100vw;
	overflow-x: hidden;
	position: relative;
}

html {
	scroll-behavior: smooth;
}

// Page layout styles

.main {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.w100 {
	width: 100%;
}

.w50 {
	width: 50% !important;
}

.w50vw {
	width: 50vw !important;
}

.h100 {
	height: 100%;
}

.w100vw {
	width: 100vw;
}

.h100vh {
	height: 100vh;
}

.z-0 {
	z-index: 0;
}

.z-1 {
	z-index: 1;
}

.z-2 {
	z-index: 2;
}

.z-3 {
	z-index: 3;
}

.z-4 {
	z-index: 4;
}

.z-5 {
	z-index: 5;
}

.wrapper {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

	.content {
		width: 100%;
		max-width: 1200px;
	}
}

// Font sizes & styles

.fs-72 {
	font-size: 72px;
}

.fs-54 {
	font-size: 54px;
}

.fs-42 {
	font-size: 42px;
}

.fs-36 {
	font-size: 36px;
}

.fs-28 {
	font-size: 28px;
}

.fs-24 {
	font-size: 24px;
}

.fs-20 {
	font-size: 20px;
}

.fs-18 {
	font-size: 18px;
}

.fs-16 {
	font-size: 16px;
}

.fs-14 {
	font-size: 14px;
}

.lh-200 {
	line-height: 200%;
}

.lh-150 {
	line-height: 150%;
}

.lh-125 {
	line-height: 125%;
}

.lh-100 {
	line-height: 100%;
}

.fw-600 {
	font-weight: 600;
}

.fw-550 {
	font-weight: 550;
}

.fw-500 {
	font-weight: 500;
}

.fw-450 {
	font-weight: 450;
}

.fw-400 {
	font-weight: 400;
}

.ls-125 {
	letter-spacing: 1.25px;
}

.ls-12 {
	letter-spacing: 1.2px;
}

.ls-1 {
	letter-spacing: 1px;
}

.ls-075 {
	letter-spacing: 0.75px;
}

.ls-05 {
	letter-spacing: 0.5px;
}

.ls-03 {
	letter-spacing: 0.3px;
}

.upper {
	text-transform: uppercase;
}

.capital {
	text-transform: capitalize;
}

.italic {
	font-style: italic;
}

.text-center {
	text-align: center;
}

.no-deco {
	text-decoration: none;
}

// Text color styles

.white {
	color: #fff;
}

.gray-1 {
	color: var(--gray-1);
}

.black {
	color: #000;
}

.underline-hover:hover {
	text-decoration: underline;
}

// Background colors

.white-bg {
	background-color: #fff;
}

.white-border {
	border: 1px solid #fff !important;
}

.gray-bg-1 {
	background-color: var(--gray-bg-1);
}

.gray-3-border {
	border: 2px solid var(--gray-3) !important;
}

.dark-gray-bg {
	background-color: var(--dark-gray-bg);
}

.transparent {
	background-color: transparent;
}

.black-border {
	border: 1px solid #000;
}

.black-bg {
	background-color: #000;
}

// Buttons

.btn-1 {
	outline: none;
	border: none;
	padding: 8px 24px;
	border-radius: 4px;

	&:hover {
		opacity: 0.85;
	}
}

// Padding

.p-12-36 {
	padding: 12px 36px;
}

.p-8-24 {
	padding: 8px 24px;
}

.p-8-16 {
	padding: 8px 16px;
}

.p-6-12 {
	padding: 6px 12px;
}

.p-36 {
	padding: 36px;
}

.p-12 {
	padding: 12px;
}

// Border

.b-4 {
	border-radius: 4px;
}

// Flex stuff

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.align-start {
	align-items: start !important;
}

.justify-start {
	justify-content: start !important;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center !important;
}

.justify-space {
	justify-content: space-between !important;
}

// Grid

.grid {
	display: grid;
}

.temp-columns-2 {
	grid-template-columns: repeat(2, calc(50% - 24px));
}

.row-gap-24 {
	gap: 24px;
}

// Gap

.gap-36 {
	gap: 36px;
}

.gap-24 {
	gap: 24px;
}

.gap-12 {
	gap: 12px;
}

// Margin

.m-t-40 {
	margin-top: 40px;
}

.m-t-20 {
	margin-top: 20px;
}

// Cursor

.c-pointer {
	cursor: pointer;
}

@media screen and (max-width: 1300px) {
	.wrapper .content {
		max-width: 1100px;
	}
}

@media screen and (max-width: 1200px) {
	.wrapper .content {
		max-width: 1000px;
	}
}

@media screen and (max-width: 1130px) {
	.wrapper .content {
		max-width: 920px;
	}
}

@media screen and (max-width: 1070px) {
	.wrapper .content {
		max-width: 850px;
	}
}

@media screen and (max-width: 990px) {
	.wrapper .content {
		max-width: 800px;
	}
}

@media screen and (max-width: 940px) {
	.wrapper .content {
		max-width: 740px;
	}
}

@media screen and (max-width: 850px) {
	.wrapper .content {
		max-width: 690px;
	}
}

@media screen and (max-width: 800px) {
	.wrapper .content {
		max-width: 640px;
	}
}

@media screen and (max-width: 750px) {
	.wrapper .content {
		max-width: 600px;
	}
}

@media screen and (max-width: 700px) {
	.fs-42 {
		font-size: 36px;
	}

	.fs-36 {
		font-size: 32px;
	}

	.fs-28 {
		font-size: 22px;
	}

	.fs-18 {
		font-size: 16px;
	}
}

@media screen and (max-width: 650px) {
	.wrapper .content {
		max-width: 540px;
	}
}

@media screen and (max-width: 600px) {
	.wrapper .content {
		max-width: 100%;
		padding: 0 24px;
	}
}