#not-found-text {
    width: 650px;
}

@media screen and (max-width: 1000px) {
    #not-found-text {
        width: 550px;
    } 
}

@media screen and (max-width: 600px) {
    #not-found-text {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #not-found-head {
        font-size: 54px !important;
    }

    #not-found-2 {
        font-size: 24px !important;
    }

    #not-found-text {
        font-size: 16px !important;
    }
}